# Exclude All
*

# Include Source Files
!/src

# Include Resource Files
!/res

# Include MSVC 14 Project Files
!/msvc
/msvc/*
!/msvc/*.sln
!/msvc/*.vcxproj
!/msvc/*.filters

# Include Unix Makefile
!/Makefile
